body {
	background-color: #ff8c00;
}

.menu {
	background-color: #a42423;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.menu li {
	display: inline-flex;
	justify-content: space-around;
}

.menu h1 {
	display: inline;
	justify-content: space-around;
	font-family: arial;
	color: white;
}
a {
	text-decoration: none;
	color: whitesmoke;
}