body {
	background-color: #ff8c00;
}

.menu {
	background-color: #a42423;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.menu li {
	display: inline-flex;
	justify-content: space-around;
}
.menu a:link, a:visited, a:hover, a:active{
	text-decoration: none;
}
.menu a:hover{
	color: #b9b6ae;
}
.menu a:active, .active{
	color: #ffc107;
}

.menu h1 {
	display: inline;
	justify-content: space-around;
	font-family: arial;
	color: white;
}
a {
	text-decoration: none;
	color: whitesmoke;
}

.blockquote-footer{
	color: rgb(124, 58, 4);
}

.footer{
	color: #ff8c00;
	background-color: #a42423;
	margin: 0px;
	padding: 0px;
	list-style: none;
}